::before ::after {
    box-sizing: border-box;
}

:root {
    --color-blue: #4A77A6;
    --color-white: #FEF8F8;
    --color-black: #000000;
    --fnt-1: 'Segoe UI Regular';
    --fnt-2: 'Segoe UI Italic';
    --fnt-3: 'Segoe UI Bold';
    --fnt-4: 'Segoe UI Bold Italic';
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-top: 0;
}

header {
    /* color: var(--color-white); */
    text-align: center;
    font-weight: 600;
    font-family: var(--fnt-1);
    /* margin-top: 0; */
}

section {
    padding-top: 1em;
}


/* hr {
    width: 10%;
    margin-top: -15px;
    color: #4a77a6;
    border: 2px #4A77A6 solid;
} */

.logo {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: .9rem;
}

.log-anchor {
    text-decoration: none;
}


/* .logo-name {
    display: inline-block;
} */

.nav {
    width: 100%;
}

.nav-toggle:hover,
.nav-toggle:focus {
    opacity: .75;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    height: 3em;
    width: 3em;
    background: var(--color-blue);
    color: #ffffff;
    transition: opacity 250ms ease;
    border-radius: 50%;
    position: absolute;
    left: 0;
    outline: none;
}

.hamburger {
    width: 70%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background: #ffffff;
    margin: 0 auto;
    height: 3px;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav-visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .9rem;
}

.nav__item {
    margin: 0.5em;
}

.nav__list-primary {
    margin-top: 1em;
    margin-bottom: 1.3em;
}

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-blue);
}

.nav__link-button {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: .5em 1.5em;
    border-radius: .7em;
    cursor: pointer;
    /* position: sticky; */
}

.btn {
    display: inline-block;
    background: #4a77a6 0% 0% no-repeat padding-box;
    box-shadow: 6px 3px 6px #00000029;
    opacity: 1;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 1.5em;
    border-radius: 2em;
    font-family: var(--fnt-1);
    font-size: .8rem;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}

.hero__text {
    color: var(--color-blue);
    margin-top: 5em;
    padding-bottom: 3em;
}

.hero__text-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--fnt-3);
    margin-top: 2em;
}

.hero__text-subtitle {
    font-family: var(--fnt-1);
    font-size: .9rem;
    font-weight: 600;
    /* width: 50%; */
}

.hero__text p {
    margin-bottom: 2em;
}

.container {
    width: 85%;
    margin: 0 auto;
    position: relative;
    max-width: 1940px;
}

.card {
    padding-bottom: 2em;
}

.card1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    opacity: 1;
    padding: 2em 1em;
}

.card2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    opacity: 1;
    padding: 2em 1em;
}

.section-two {
    text-align: center;
}

.section-two-title {
    color: var(--color-blue);
    font-size: 1.2rem;
    font-family: var(--fnt-3);
}

.section-two-subtitle {
    line-height: 1.8;
    padding-left: .5em;
    font-size: 1rem;
    padding-right: .5em;
    font-family: var(--fnt-1);
    color: var(--color-black);
    opacity: 1;
}

.section-three-title {
    color: var(--color-blue);
    font-size: 1.2rem;
    font-family: var(--fnt-3);
}

.section-three-subtitle {
    line-height: 1.8;
    padding-left: .5em;
    font-size: 1rem;
    padding-right: .5em;
    font-family: var(--fnt-1);
    color: var(--color-black);
    opacity: 1;
}

.section-four {
    color: #4a77a6;
}

.section-four-title {
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--fnt-3);
}


/* #hr {
    width: 10%;
    margin-top: -15px;
    color: #4a77a6;
    border: 2px #4A77A6 solid;
} */

.section-four-subtitle {
    /* text-align: center; */
    margin-left: 1em;
    font-size: 1.2rem;
    font-family: var(--fnt-1);
}

.list {
    font-size: 1.1rem;
    font-family: var(--fnt-1);
}

.section-five {
    text-align: center;
}

.primary-content {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    opacity: 0.89;
    padding: 2em 1em;
    /* position: relative; */
}

.primary-content-title {
    color: #4a77a6;
    text-align: center;
    font-weight: 1.3rem;
    font-family: var(--fnt-3);
    font-size: 1.2rem;
}

.primaary-content-subtitle {
    line-height: 1.8;
    padding-right: .5em;
    padding-left: .5em;
    font-size: 1rem;
    font-family: var(--fnt-1);
}

.section-five-title {
    color: #4a77a6;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: var(--fnt-1);
}

.section-five-subtitle {
    margin-top: -3em;
    font-family: var(--fnt-1);
    color: var(--color-black);
    font-size: .9rem;
}

.start {
    text-align: center;
}

.start-title {
    font-family: var(--fnt-1);
    color: var(--color-blue);
    font-size: .9rem;
    font-weight: 900;
}

.start-subtitle {
    font-family: var(--fnt-1);
    color: var(--color-black);
    font-size: .8rem;
}

.start-box {
    margin-top: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: .2em 1em;
}

.start-box-title {
    padding-left: .2em;
    font-family: var(--fnt-1);
    font-size: 1rem;
    font-weight: 600;
}

.boxes {
    padding-top: 3em;
}

.box {
    width: 100%;
    height: 100px;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1,
.box2,
.box3,
.box4 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 3px 6px #00000029;
}

.box-title {
    font-family: var(--fnt-4);
    font-size: 1rem;
    color: var(--color-black);
}

footer {
    padding-top: 1em;
    background-color: #4a77a6;
    font-family: var(--fnt-1);
}

.footer {
    color: #ffffff;
    padding: 2em .5em;
    font-size: .9rem;
}

.footer-section {
    padding-bottom: 1em;
}

.footer-section i {
    margin: .5em;
}

@media(min-width:768px) {
    .section {}
    .nav-toggle {
        display: none;
    }
    .nav {
        visibility: visible;
        height: auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }
    .nav__list {
        display: flex;
        align-items: center;
        margin: 0;
    }
    .nav__item {
        margin-left: 2em;
    }
    .button-link {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 5.5em;
        margin-top: 1em;
    }
    .hero__text {
        /* margin-top: 5em; */
        /* width: 50%; */
        line-height: 1.8;
        padding-bottom: 2em;
    }
    .hero__text-title {
        font-size: 30px;
    }
    .hero__text-subtitle {
        font-size: 21px;
        /* width: 50%; */
    }
    .btn {
        font-size: 1.1rem;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .col {
        width: 100%;
    }
    .col+.col {
        margin-left: 5em;
    }
    .section-two-title {
        font-size: 1.6rem;
    }
    .section-two-subtitle {
        font-size: 1.2rem;
    }
    .section-three-title {
        font-size: 1.6rem;
    }
    .section-three-subtitle {
        font-size: 1.2rem;
    }
    .primary-content-title {
        font-size: 1.6rem;
    }
    .primaary-content-subtitle {
        font-size: 1.2rem;
    }
    .section-five-title {
        font-size: 3rem;
    }
    .section-five-subtitle {
        font-size: 1.2rem;
    }
    .start-box-title {
        text-align: left;
        /* padding-left: 2em; */
        color: #4a77a6;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .start-subtitle,
    .start-title {
        font-size: 1.3rem;
    }
    .footer {
        /* padding-left: 8em;
        padding-right: 8em; */
    }
    .box {
        display: flex;
        /* justify-content: center;
        align-content: center; */
        align-items: center;
        width: 100%;
    }
}

@media(min-width:800px) {
    /* .container {
        max-width: 1920px;
    } */
    .nav-toggle {
        display: none;
    }
    .nav {
        visibility: visible;
        height: auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }
    .nav__list {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 1rem;
    }
    .nav__item {
        margin-left: 4em;
    }
    .nav__link {
        color: var(--color-white);
        font-weight: 700;
    }
    .nav__link-button {
        color: var(--color-blue);
    }
    .btn {
        padding: .7em 2.5em;
        font-weight: 500;
        font-size: 1rem;
    }
    .row {
        display: flex;
    }
    .hero__text {
        margin-bottom: 2em;
        width: 42%;
        line-height: 1.8;
    }
    .hero__text-title {
        font-size: 2rem;
    }
    .hero__text-subtitle {
        font-size: 21px;
    }
    img {
        max-width: 100%;
    }
    .nav__link-button {
        background-color: var(--color-white);
        color: var(--color-blue);
    }
    .button-link {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 5.5em;
        margin-top: 1em;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .col {
        width: 100%;
    }
    .col+.col {
        margin-left: 5em;
    }
    /* hr {
        width: 4%;
        border: 5px solid #4a77a6;
    }
    #hr {
        margin-top: -20;
        color: #4a77a6;
        border: 2px #4A77A6 solid;
    } */
    .main section {
        padding: 3em;
    }
    .section {
        background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 378.11 335.8'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%232797e2;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M524.9,216H872V551.8c-2.6-1.1-5.1-2.1-7.6-3.3-28.7-13.2-58-25.1-87.3-37-61.39-24.93-78.5-31.27-123.8-51.8-4.37-2-8-3.62-10.3-4.7s-5.49-2.95-9.47-5.07c-29-15.48-39.95-21-46.43-24.53a245.38,245.38,0,0,1-58.2-44.5c-13.2-13.7-23.9-29-29.9-47.3-3.7-11.5-5.8-23.3-4.9-35.3a132.68,132.68,0,0,1,10.1-42.5C510.1,242.1,517.4,229.2,524.9,216Z' transform='translate(-493.89 -216)'/%3E%3C/svg%3E") no-repeat right;
        background-repeat: no-repeat;
        background-size: auto;
        height: 90vh;
        /* padding-bottom: 15em; */
    }
    .section-two-subtitle {
        padding-left: .5em;
        padding-right: .5em;
        font-size: 1.5rem;
    }
    .title-subtitle {
        padding: 2em 6em;
    }
    .section-three-subtitle {
        font-size: 1.5rem;
    }
    /* .section-four {
        padding-left: 3em;
        padding-right: 5em;
    } */
    .section-four-title {
        text-align: left;
        padding-left: 1em;
        font-size: 1.9rem;
    }
    .section-four-subtitle {
        font-size: 1.6rem;
    }
    /* .section-four-title-work {
        flex-grow: 1;
    } */
    .card {
        width: 100%;
    }
    .list {
        font-size: 1.6rem;
    }
    .primary-content {
        /* background: #F5F5F5 0% 0% no-repeat padding-box;
        box-shadow: 10px 10px 20px #00000029;
        opacity: 0.89; */
        width: 100%;
        position: relative;
        padding-bottom: 4em;
    }
    .whyus {
        /* padding-top: -5em; */
        margin-top: -20px;
        padding-bottom: 2em;
    }
    .primaary-content-subtitle {
        /* padding-left: 1em;
        padding-right: 1em; */
        font-size: 1.5rem;
    }
    .logo {
        display: inline-block;
        color: var(--color-blue);
        font-size: 1rem;
        font-weight: 900;
        list-style: none;
    }
    .section-five-title {
        font-size: 3.5rem;
        font-weight: 900;
    }
    .section-five-subtitle {
        font-size: 1.2rem;
        font-weight: 900;
    }
    .start-title {
        font-size: 1.5rem;
    }
    .start-box-title {
        text-align: left;
        padding-left: 2em;
        color: #4a77a6;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .start-subtitle {
        font-size: 1.5rem;
    }
    .footer {
        padding-left: 8em;
        padding-right: 8em;
    }
    .box {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
    }
    .box-title {
        font-size: 1.5rem;
    }
    .start-box {
        width: 100%;
    }
    footer {
        padding-top: 2em;
        background-color: #4a77a6;
        font-family: var(--fnt-1);
    }
    .footer {
        color: #ffffff;
        padding: 2em;
        font-size: 1.3rem;
    }
    .footer-section {
        padding-bottom: 1em;
    }
    .footer-section i {
        margin: .5em;
    }
}